<mat-card class="shopping-list-card">
  <mat-card-header>
    <!--  TODO: Shopping List title  -->
    <mat-card-title>xxx</mat-card-title>
  </mat-card-header>
  <!--  TODO: Assign random patterns or images here  -->
  <img mat-card-image src="https://media.timeout.com/images/105041644/750/422/image.jpg" alt="groceries">
  <mat-card-content>
    <p>
      <!--  TODO: Description goes here  -->
      lorem ipsum
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!--  TODO: User List goes here with + button to add more users   -->
    <button mat-button>ADD USER</button>
  </mat-card-actions>
</mat-card>
